html {
    font-family: Roboto, Monserrat, sans-serif;
} 

.body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h3 { 
    font-size: 22px;
    margin: 0;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

header {
    box-sizing: border-box;
    background-color: #1f2937;
    height: 50px;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-style: italic;
    font-weight: 700;
}

nav {
    display: flex;
    align-items: center;
    padding: 0 16px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10% 0;
    align-items: flex-start;
}

.hero-title h1 {
    margin: 0;
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-title p {
    font-size: 18px;
    color: #E5E7EB;
}

div.hero-title {
    width: 33%;
}

div.hero-image {
    width: 33%;
}

.hero-image img {
    width: 500px;
    height: auto;
    margin: 0 auto;
}

button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 20px;
    color: #e5e7eb;
    border-radius: 10px;
    border: none;
}
.favourites {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 50px 0px;
    margin: 0;
}

.favourites-countries {
    display: flex;
    justify-content: center;
    align-items:  flex-start;
    gap: 50px;
}

.favourites-countries article {
    width: 150px;
    font-size: 13px;
}

.favourites-countries img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.quote {
    background-color: #E5E7EB;
    padding: 5% 12%;
}

.quote-div blockquote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}

.quote-div p {
    padding: 0;
    margin: 0;
    margin-top: 3%;
    text-align: right;
    font-weight: bold;
}

.call-to-action {
    padding: 7% 6%;
    color: #F9FAF8;
}

.call-to-action_div {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 10%;
    border-radius: 10px;
}

.call-to-action_div_button {
    display: flex;
    align-items: center;
}

.call-to-action_div a {
    display: block;
}

.call-to-action_div a button {
    width: 105px;
    height: 32px;
    border: 2px solid #F9FAF8;
    font-size: 16px;
}